@import '../../assets/styles/theme.scss';

.xd-input{
  display: inline-block;
  width:100%;
  line-height:42px;
  min-width: 110px;
  text-align: left;
  font-size: 14px;
  input{
    vertical-align: top;
    height: 42px;
    width:100%;
    line-height: inherit;
    padding:0 6.6666%;
    box-sizing:border-box;
    border:solid 1px $xd-border-grey;
    outline: none;
    text-align: inherit;
    background: #fff;
    transition: border .3s ease-in-out;
    &.error-focus,&.error-focus:focus{
      border:solid 1px $xd-error;
      outline:none;
    }
    &:focus{
      border:solid 1px $xd-main-blue;
      outline:none;
    }
    &::-ms-clear,&::-ms-reveal{
      font-size: 10px;
      opacity: 0;
      color: #fff;
      filter:opacity(0);
    }
  }
  input:disabled{
    color:#999;
    user-select: none;
  }
  .close-btn{
    color:$xd-input-grey;
    display: inline-block;
    width:40px;
    line-height:inherit;
    box-sizing: border-box;
    vertical-align: top;
    margin-top:1px;
    margin-bottom:1px;
    text-align: center;
    margin-left:-41px;
    cursor: pointer;
    background: none;
  }
  .error-text{
    text-align:left;
    margin-top:5px;
    font-size:12px;
    color:$xd-error;
    line-height: normal;
    white-space: nowrap;
    margin-bottom:0px;
  }
}