$theme-color:#7BAF30;
$light-color:lightgreen;
$border-color:#e5e5e5;
.date-picker{
  width: 300px;
  position: relative;
  line-height: 42px;
  text-align: left;
  box-sizing: border-box;
  &:focus{
    outline: none;
  }
  .date-show{
    background-color:#fff;
    border:solid 1px $border-color;
    padding:0 20px;
    line-height: inherit;
    text-align: inherit;
  }
  .list-container{
    position: absolute;
    width: inherit;
    left: 0;
    top:52px;
    border:solid 1px $border-color;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px #999;
    background-color:#fff;
  }
  .list-container-left{
    right: 103%;
    top: 0px;
    left: auto;
    box-shadow: 2px 0px 50px #999;
  }
  .list-container-right{
    right: -103%;
    top: 0px;
    left: auto;
    box-shadow: 2px 0px 50px #999;
  }
  .list-container-top{
    left: 0;
    top:auto;
    bottom: 52px;
    box-shadow: 2px 0px 50px #999;
  }
  .select-module{
    background-color: #fff;
    .left-arrow,.right-arrow,.selected-container{
      display: inline-block;
      vertical-align: top;
      line-height: inherit;
      text-align: center;
      &:hover{
        cursor:pointer;
      }
    }
    .selected-container{
      width: 60%;
    }
    .left-arrow,.right-arrow{
      width: 20%;
      font-size: 24px;
    }
  }
  .week-list,.date-list,.month-list,.year-list{
    width: 100%;
    padding-bottom:10px;
    li{
      box-sizing: border-box;
      display: inline-block;
      text-align: center;
      line-height: inherit;
      vertical-align: top;
    }
  }
  .week-list{
    padding-bottom:0px;
    box-shadow: 0 0 0 #fff;
    margin-bottom: 10px;
    background-color: $theme-color;
    li{
      width: 14.2857%;
      color:#fff;
    }
  }
  .date-list{
    li{
      width: 14.2857%;
      border-radius: 50%;
      &.selected,&:hover{
        background: $theme-color;
        color: #fff;
        cursor: pointer;
      }
    }
    li:nth-child(1){
      border: none;
      margin-left: 0
    }
  }
  .month-list,.year-list{
    li{
      width: 25%;
      border-radius: 50%;
      line-height: 75px;
      &:hover{
        background: $theme-color;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}