.directories-container{
    width: 250px;
    .title{
        font-size: 14px;
        padding: 13px 0;
        line-height: 24px;
        &:hover{
            background-color: lightblue;
            color: #3047fe;
        }
        
    }
    .directoire{
        font-size: 14px;
        padding: 13px 0;
        line-height: 24px;
        position: relative;
        .arrow{
            position: absolute;
            width: 10px;
            right: 0;
            top:0;
            font-size: 20px;
            font-weight: normal;
            padding: 13px 0;
            line-height: 24px;
            width: 50px;
            text-align: center;
            transition: all .3s ease-in-out;
            cursor: default;
        }
        .arrow-down{
            transform: rotate(90deg);
        }
    }
    .big-directiore{
        font-size: 16px;
    }
    .selected{
        background-color: lightblue;
        color: #3047fe;
    }
}