@import './theme.scss';
@import './font-awesome.css';
.error-text{
	color: $error;
}
body{
	font-size: 16px;
	width: 100%;
	height: 100%;
	font-family: 'FontAwesome'!important;
}
*{
	padding: 0;
	margin:0;
}
ul,ol{
	list-style: none;
}
