$xd-error:#f00;
$xd-border-grey:#e5e5e5;
$xd-main-blue:#03a9f4;
$xd-main-dark-blue:#009ce3; 
$xd-remind-text:#a0a0a0; 
$xd-main-light-blue:#f4f8f9;
$xd-main-white:#fff;
$xd-correct-green:#62b500;
$xd-error-red:#e55c5c;
$xd-first-level-font-color:#333;
$xd-second-level-font-color:#666;
$xd-border-grey:#e5e5e5;
$xd-input-grey:#dcdcdc;
$xd-text-background-grey:#f8f8f8;
$xd-hr-grey:#f5f5f5;
$xd-main-block-width:1000px;
$xd-head-height:80px;
$xd-footer-height:82px;